.botao{
    border: none;
    border-radius: 8px;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: var(--medio);
    padding: 12px 16px;
}

.botao--laranja{
    background-color: var(--laranja-principal);
    color: #FFFFFF;
}

.botao--azul{
    background-color: var(--azul-principal);
    color: #FFFFFF;
}

.botao--branco{
    background-color: #FFFFFF;
    border: 1px #ECECEC solid;
    color: var(--medio-cor);
}